.formAlert {
  max-width: 50%;
  margin: auto;
}

.formAlert textarea{
  max-width: 90%;
  font-weight: bold;
  border-width: 2px;
  border-color: #000000;
}

.formAlert h1 {
  font-weight: bold;
  text-align: center;
}

.formAlert h3{
  /* font-weight: bold; */
  text-align: center;
}

.formAlert label {
  font-weight: bold;
  padding-top: 20px;
}

p{
  font-weight: bold;
}

.formAlert input {
  max-width: 90%;
  font-weight: bold;
  border-width: 2px;
  border-color: #000000;
}

.suc {
  color: green;
}

.fail {
  color: red;
}
