.formRegister {
  padding-top: 20px;
  max-width: 50%;
  margin: auto;
}

.formRegister label {
  font-weight: bold;
  padding-top: 20px;
}

.formRegister input {
  max-width: 90%;
  font-weight: bold;
  border-width: 2px;
  border-color: #000000;
}

.formRegister h1 {
  padding-top: 25px;
  font-weight: bold;
  text-align: center;
}

.formRegister select {
  max-width: 90%;
  border-width: 2px;
  border-color: #000000;
  font-weight: bold;
}
